<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xn.autotest.dao.ParameterAssertMapper">

    <resultMap id="ParameterAssertMap" type="com.xn.autotest.bean.assertBean.parameterAssert.entity.ParameterAssert">
        <result property="id" column="id"/>
        <result property="caseId" column="case_id"/>
        <result property="parameterAssertStatus" column="parameter_assert_status"/>
        <result property="parameterAssertContent" column="parameter_assert_content"/>
        <result property="changeTime" column="change_time"/>
    </resultMap>
    
    <sql id="columns">
        <![CDATA[
        id, case_id, parameter_assert_status, parameter_assert_content, change_time
        ]]>
    </sql>
    
    <sql id="where">
        <where>
           <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
           <if test="@Ognl@isNotEmpty(caseId)">
                AND case_id = #{caseId}
            </if>
           <if test="@Ognl@isNotEmpty(parameterAssertStatus)">
                AND parameter_assert_status = #{parameterAssertStatus}
            </if>
           <if test="@Ognl@isNotEmpty(parameterAssertContent)">
                AND parameter_assert_content = #{parameterAssertContent}
            </if>
           <if test="@Ognl@isNotEmpty(changeTimeBegin)">
                AND change_time >= #{changeTimeBegin}
           </if>
           <if test="@Ognl@isNotEmpty(changeTimeEnd)">
                AND change_time &lt;= #{changeTimeEnd}
           </if>
        </where>
    </sql>
    
    <select id="get" resultMap="ParameterAssertMap">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM
                parameter_assert
            WHERE 
                id = #{id} 
        ]]>
    </select>
    
    <select id="list" resultMap="ParameterAssertMap">
        SELECT
            <include refid="columns" />
        FROM
            parameter_assert 
        <include refid="where"/>
    </select>
        
    <select id="count" resultType="long">
        <![CDATA[
            SELECT
                count(1)
            FROM
                parameter_assert
        ]]>
        <include refid="where"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO parameter_assert (
                id,
                case_id,
                parameter_assert_status,
                parameter_assert_content,
                change_time
            ) VALUES (
                #{id},
                #{caseId},
                #{parameterAssertStatus},
                #{parameterAssertContent},
                #{changeTime}
            )
        ]]>
    </insert>

    <insert id="saveBatch">
        <![CDATA[
            INSERT INTO parameter_assert (
                id,
                case_id,
                parameter_assert_status,
                parameter_assert_content,
                change_time
            ) VALUES
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.caseId},#{item.parameterAssertStatus},#{item.parameterAssertContent},#{item.changeTime})
        </foreach>
    </insert>
    
    <update id="update">
        	UPDATE
                parameter_assert
            <set>
                <if test="caseId != null">
                	<![CDATA[ case_id = #{caseId} ]]>,
                </if>
                <if test="parameterAssertStatus != null">
                	<![CDATA[ parameter_assert_status = #{parameterAssertStatus} ]]>,
                </if>
                <if test="parameterAssertContent != null">
                	<![CDATA[ parameter_assert_content = #{parameterAssertContent} ]]>,
                </if>
                <if test="changeTime != null">
                	<![CDATA[ change_time = #{changeTime} ]]>
                </if>
            </set>
            WHERE
                id = #{id} 
    </update>
    
    <delete id="deleteByPK">
        <![CDATA[
            DELETE
            FROM
                parameter_assert
            WHERE
                id = #{id} 
        ]]>
    </delete>
    
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM
                parameter_assert
        ]]>
        <include refid="where"/>
    </delete>
    
    <delete id="deleteBatchByPK">
        <![CDATA[
            DELETE
            FROM
                parameter_assert
            WHERE
                id IN
        ]]>
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{ids}</foreach>
    </delete>
</mapper>

