
.user_pic {
    margin-bottom: 2em;
    margin-top: 1em;
}

.sidebar {
    height: 100%;
    margin-top: 0px !important;
}

.cm-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.breadcrumb {
    margin-bottom: 0px !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

#wrapper {
    margin-left: 1em;
    margin-right: 1em;
    width: auto !important;
}

.navigation {
    margin-left: 1em;
}

.panel-footer {
    text-align: -webkit-center;
}

#plan-list-panel {
    border: none;
}

.form-group label {
    margin-top: auto;
    font-weight: 500;
}

.form-group {
    display: inline-flex;
}

.first-level {
    font-weight: bolder;
    font-size: large;
}

.panel form {
    margin-top: 20px;
}

.second-level {
    font-weight: 600;
}

.choose-sys {
    padding-left: initial;
}

.sidebar-nav {
    height: 100%;
}

.navigation {
    height: 100%;
    background-color: white;

}

.edit-form .form-group {
    width: 80%;
}

.form-group label {
    width: 20%;
}

form .choose-sys {
    width: inherit;
}

#http-form, #dubbo-form {
    margin-left: 1%;
}

.title-label {
    margin-top: inherit;
    margin-left: -1em;
    margin-bottom: inherit;
}

.case-form {
    margin-left: 2%;
    width: 50%;
}

.case-form .form-group {
    width: 90%;
}

.case-select {
    width: 30%;

}

.case-label {
    margin-left: 3%;
    margin-top: 2%;
}

.case-div {
    margin-left: 5%;
}

.case-form .form-control {
    width: auto;
}

.case-form .text-control {
    width: 80%;
    height: auto;
    resize: none;
}

.param-text {
    height: 150px;
}

.db-operation-div {
    height: 200px;
    width: 90%;
}

.redis-operation-div {
    width: 90%;
}

.minus {
    height: 20%;
    margin-top: 5%;
    margin-left: 3%;
}

.plus {
    margin-top: 1%;
}

.case-form label {
    width: 30%;
}

.modal-suit-list {
    width: 50% !important;
}

.modal-time {
    min-height: 200px;
}

.time-form label {
    width: 200px;
}

.case-not-show {
    display: none;

}

.hidden {
    display: none;
}

.modal-add {
    min-height: 400px;
}

#dubbo-form-div .bootstrap-select {
    margin-left: -2% !important;
    width: 90% !important;
}