
.user_pic {
	margin-bottom: 2em;
    margin-top: 1em;
}

.sidebar {
	height: 100%;
	margin-top: 0px !important;
}

.cm-title {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 24px;
}

.breadcrumb {
	margin-bottom: 0px !important;
	background-color: rgba(0, 0, 0, 0) !important;
}

#wrapper {
	margin-left: 1em;
    margin-right: 1em;
    width:auto !important;
}

.navigation {
	margin-left: 1em;
}

.panel-footer{
    text-align: -webkit-center;
}

#plan-list-panel {
	border: none;
}

.form-group {
	display: inline-flex;
}