<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xn.interfacetest.dao.RelationSuitCaseMapper">

    <resultMap id="RelationSuitCaseMap" type="com.xn.interfacetest.entity.RelationSuitCase">
        <result property="id" column="id"/>
        <result property="suitId" column="suit_id"/>
        <result property="interfaceId" column="interface_id"/>
        <result property="serviceId" column="service_id"/>
        <result property="caseId" column="case_id"/>
    </resultMap>
    
    <sql id="columns">
        <![CDATA[
        id, suit_id, interface_id, service_id,case_id
        ]]>
    </sql>
    
    <sql id="where">
        <where>
           <if test="id != null and id != 0">
                AND id = #{id}
            </if>
           <if test="@Ognl@isNotEmpty(suitId)">
                AND suit_id = #{suitId}
            </if>
           <if test="@Ognl@isNotEmpty(interfaceId)">
                AND interface_id = #{interfaceId}
            </if>
           <if test="@Ognl@isNotEmpty(serviceId)">
                AND service_id = #{serviceId}
            </if>
            <if test="@Ognl@isNotEmpty(caseId)">
                AND case_id = #{caseId}
            </if>
        </where>
    </sql>
    
    <select id="get" resultMap="RelationSuitCaseMap">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM
                relation_suit_case
            WHERE 
                id = #{id} 
        ]]>
    </select>

    <select id="selectBySuitAndCase" resultMap="RelationSuitCaseMap">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM
                relation_suit_case
            WHERE
                suit_id = #{suitId} and case_id=#{caseId}
        ]]>
    </select>

    
    <select id="list" resultMap="RelationSuitCaseMap">
        SELECT
            <include refid="columns" />
        FROM
            relation_suit_case
        <include refid="where"/>
    </select>

    <select id="listGroupByInterface" resultType="Long">
        SELECT
        interface_id
        FROM
        relation_suit_case
        <include refid="where"/>
        group by interface_id
    </select>

    <select id="count" resultType="long">
        <![CDATA[
            SELECT
                count(1)
            FROM
                relation_suit_case
        ]]>
        <include refid="where"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO relation_suit_case (
                id,
                suit_id,
                interface_id,
                service_id,
                case_id
            ) VALUES (
                #{id},
                #{suitId},
                #{interfaceId},
                #{serviceId},
                #{caseId}
            )
        ]]>
    </insert>

    <insert id="saveBatch">
        <![CDATA[
            INSERT INTO relation_suit_case (
                id,
                suit_id,
                interface_id,
                service_id,
                case_id
            ) VALUES
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.suitId},#{item.interfaceId},#{item.serviceId},#{item.caseId})
        </foreach>
    </insert>
    
    <update id="update">
        	UPDATE
                relation_suit_case
            <set>
                <if test="suitId != null">
                	<![CDATA[ suit_id = #{suitId} ]]>,
                </if>
                <if test="interfaceId != null">
                	<![CDATA[ interface_id = #{interfaceId} ]]>,
                </if>
                <if test="serviceId != null">
                	<![CDATA[ service_id = #{serviceId} ]]>,
                </if>
                <if test="caseId != null">
                    <![CDATA[ case_id = #{caseId} ]]>
                </if>
            </set>
            WHERE
                id = #{id} 
    </update>
    
    <delete id="deleteByPK">
        <![CDATA[
            DELETE
            FROM
                relation_suit_case
            WHERE
                id = #{id} 
        ]]>
    </delete>

    <delete id="deleteByInterfaceAndSuit">
        <![CDATA[
            DELETE
            FROM
                relation_suit_case
            WHERE
                interface_id = #{interfaceId} and suit_id = #{suitId}
        ]]>
    </delete>

    <delete id="delete">
        <![CDATA[
            DELETE
            FROM
                relation_suit_case
        ]]>
        <include refid="where"/>
    </delete>
    
    <delete id="deleteBatchByPK">
        <![CDATA[
            DELETE
            FROM
                relation_suit_case
            WHERE
                id IN
        ]]>
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{ids}</foreach>
    </delete>
</mapper>

