<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xn.interfacetest.dao.RelationCaseDatabaseMapper">

    <resultMap id="RelationCaseDatabaseMap" type="com.xn.interfacetest.entity.RelationCaseDatabase">
        <result property="id" column="id"/>
        <result property="caseId" column="case_id"/>
        <result property="databaseName" column="database_name"/>
        <result property="operateType" column="operate_type"/>
        <result property="sqlStr" column="sql_str"/>
        <result property="type" column="type"/>
        <result property="interfaceId" column="interface_id"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <sql id="columns">
        <![CDATA[
        id, case_id, database_name, operate_type, sql_str, type, interface_id
        ]]>
    </sql>

    <sql id="where">
        <where>
            <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
            <if test="@Ognl@isNotEmpty(caseId)">
                AND case_id = #{caseId}
            </if>
            <if test="@Ognl@isNotEmpty(databaseName)">
                AND database_name = #{databaseName}
            </if>
            <if test="@Ognl@isNotEmpty(operateType)">
                AND operate_type = #{operateType}
            </if>
            <if test="@Ognl@isNotEmpty(sqlStr)">
                AND sql_str = #{sqlStr}
            </if>
            <if test="@Ognl@isNotEmpty(type)">
                AND type = #{type}
            </if>
            <if test="@Ognl@isNotEmpty(interfaceId)">
                AND interface_id = #{interfaceId}
            </if>
        </where>
    </sql>

    <select id="get" resultMap="RelationCaseDatabaseMap">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM
                relation_case_database
            WHERE
                id = #{id}
        ]]>
    </select>

    <select id="list" resultMap="RelationCaseDatabaseMap">
        SELECT
        <include refid="columns" />
        FROM
        relation_case_database
        <where>
            is_delete = 0
            <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
            <if test="@Ognl@isNotEmpty(caseId)">
                AND case_id = #{caseId}
            </if>
            <if test="@Ognl@isNotEmpty(databaseName)">
                AND database_name = #{databaseName}
            </if>
            <if test="@Ognl@isNotEmpty(operateType)">
                AND operate_type = #{operateType}
            </if>
            <if test="@Ognl@isNotEmpty(sqlStr)">
                AND sql_str = #{sqlStr}
            </if>
            <if test="@Ognl@isNotEmpty(type)">
                AND type = #{type}
            </if>
            <if test="@Ognl@isNotEmpty(interfaceId)">
                AND interface_id = #{interfaceId}
            </if>
        </where>
    </select>

    <select id="getByCaseId" resultMap="RelationCaseDatabaseMap">
        SELECT
        <include refid="columns" />
        FROM
        relation_case_database
        <where>
            is_delete = 0
            <if test="@Ognl@isNotEmpty(caseId)">
                AND case_id = #{caseId}
            </if>
        </where>
    </select>

    <select id="getByCaseIdAndOperateType" resultMap="RelationCaseDatabaseMap">
        SELECT
        <include refid="columns" />
        FROM
        relation_case_database
        <where>
            is_delete = 0 and operate_type = #{operateType}
            <if test="@Ognl@isNotEmpty(caseId)">
                AND case_id = #{caseId}
            </if>
        </where>
    </select>

    <select id="count" resultType="long">
        <![CDATA[
            SELECT
                count(1)
            FROM
                relation_case_database
        ]]>
        <include refid="where"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO relation_case_database (
                id,
                case_id,
                database_name,
                operate_type,
                sql_str,
                type,
                interface_id
            ) VALUES (
                #{id},
                #{caseId},
                #{databaseName},
                #{operateType},
                #{sqlStr},
                #{type},
                #{interfaceId}
            )
        ]]>
    </insert>

    <insert id="saveBatch">
        <![CDATA[
            INSERT INTO relation_case_database (
                id,
                case_id,
                database_name,
                operate_type,
                sql_str,
                type,
                interface_id
            ) VALUES
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.caseId},#{item.databaseName},#{item.operateType},#{item.sqlStr},#{item.type},#{item.interfaceId})
        </foreach>
    </insert>

    <update id="update">
        UPDATE
        relation_case_database
        <set>
            <if test="caseId != null">
                <![CDATA[ case_id = #{caseId} ]]>,
            </if>
            <if test="databaseName != null">
                <![CDATA[ database_name = #{databaseName} ]]>,
            </if>
            <if test="operateType != null">
                <![CDATA[ operate_type = #{operateType} ]]>,
            </if>
            <if test="sqlStr != null">
                <![CDATA[ sql_str = #{sqlStr} ]]>,
            </if>
            <if test="type != null">
                <![CDATA[ type = #{type} ]]>,
            </if>
            <if test="interfaceId != null">
                <![CDATA[ interface_id = #{interfaceId} ]]>
            </if>
        </set>
        WHERE
        id = #{id}
    </update>

    <update id="deleteByPK">
        <![CDATA[
            update
            relation_case_database
            set is_delete = 1
            WHERE
                id = #{id} 
        ]]>
    </update>

    <delete id="delete">
        <![CDATA[
            DELETE
            FROM
                relation_case_database
        ]]>
        <include refid="where"/>
    </delete>

    <delete id="deleteBatchByPK">
        <![CDATA[
            DELETE
            FROM
                relation_case_database
            WHERE
                id IN
        ]]>
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{ids}</foreach>
    </delete>
</mapper>

