<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xn.performance.dao.PerformancePlanMonitoredMapper">

    <resultMap id="PerformancePlanMonitoredMap" type="com.xn.performance.entity.PerformancePlanMonitored">
        <result property="id" column="id"/>
        <result property="planId" column="plan_id"/>
        <result property="monitoredMachineId" column="monitored_machine_id"/>
        <result property="monitoredMachineName" column="monitored_machine_name"/>
        <result property="resultId" column="result_id"/>
    </resultMap>
    
    <sql id="columns">
        <![CDATA[
        id, plan_id, monitored_machine_id, monitored_machine_name
        ]]>
    </sql>
    
    <sql id="where">
        <where>
           <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
           <if test="@Ognl@isNotEmpty(planId)">
                AND plan_id = #{planId}
            </if>
           <if test="@Ognl@isNotEmpty(monitoredMachineId)">
                AND monitored_machine_id = #{monitoredMachineId}
            </if>
           <if test="@Ognl@isNotEmpty(monitoredMachineName)">
                AND monitored_machine_name = #{monitoredMachineName}
            </if>
        </where>
    </sql>
    
    <select id="get" resultMap="PerformancePlanMonitoredMap">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM
                performance_plan_monitored
            WHERE 
                id = #{id} 
        ]]>
    </select>
    
    <select id="list" resultMap="PerformancePlanMonitoredMap">
        SELECT
            <include refid="columns" />
        FROM
            performance_plan_monitored 
        <include refid="where"/>
    </select>
        
    <select id="count" resultType="long">
        <![CDATA[
            SELECT
                count(1)
            FROM
                performance_plan_monitored
        ]]>
        <include refid="where"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO performance_plan_monitored (
                id,
                plan_id,
                monitored_machine_id,
                monitored_machine_name
            ) VALUES (
                #{id},
                #{planId},
                #{monitoredMachineId},
                #{monitoredMachineName}
            )
        ]]>
    </insert>

    <insert id="saveBatch">
        <![CDATA[
            INSERT INTO performance_plan_monitored (
                id,
                plan_id,
                monitored_machine_id,
                monitored_machine_name
            ) VALUES
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.planId},#{item.monitoredMachineId},#{item.monitoredMachineName})
        </foreach>
    </insert>
    
    <update id="update">
        	UPDATE
                performance_plan_monitored
            <set>
                <if test="planId != null">
                	<![CDATA[ plan_id = #{planId} ]]>,
                </if>
                <if test="monitoredMachineId != null">
                	<![CDATA[ monitored_machine_id = #{monitoredMachineId} ]]>,
                </if>
                <if test="monitoredMachineName != null">
                	<![CDATA[ monitored_machine_name = #{monitoredMachineName} ]]>
                </if>
            </set>
            WHERE
                id = #{id} 
    </update>
    
    <delete id="deleteByPK">
        <![CDATA[
            DELETE
            FROM
                performance_plan_monitored
            WHERE
                id = #{id} 
        ]]>
    </delete>
    
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM
                performance_plan_monitored
        ]]>
        <include refid="where"/>
    </delete>
    
    <delete id="deleteBatchByPK">
        <![CDATA[
            DELETE
            FROM
                performance_plan_monitored
            WHERE
                id IN
        ]]>
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{ids}</foreach>
    </delete>
</mapper>

