<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.xn.interfacetest.dao.TestInterfaceMapper">

    <resultMap id="TestInterfaceMap" type="com.xn.interfacetest.entity.TestInterface">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="serviceId" column="service_id"/>
        <result property="type" column="type"/>
        <result property="url" column="url"/>
        <result property="codeText" column="code_text"/>
        <result property="jarPath" column="jar_path"/>
        <result property="requestType" column="request_type"/>
        <result property="protocolType" column="protocol_type"/>
        <result property="params" column="params"/>
        <result property="dubboVersion" column="dubbo_version"/>
        <result property="dubboGroup" column="dubbo_group"/>
        <result property="dubboTimeout" column="dubbo_timeout"/>
    </resultMap>
    
    <sql id="columns">
        <![CDATA[
        id, name, description, service_id, type, url, code_text, jar_path, request_type, protocol_type, params, dubbo_version, dubbo_group, dubbo_timeout
        ]]>
    </sql>
    
    <sql id="where">
        <where>
           <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
           <if test="@Ognl@isNotEmpty(name)">
                AND name = #{name}
            </if>
           <if test="@Ognl@isNotEmpty(description)">
                AND description = #{description}
            </if>
           <if test="@Ognl@isNotEmpty(serviceId)">
                AND service_id = #{serviceId}
            </if>
           <if test="@Ognl@isNotEmpty(type)">
                AND type = #{type}
            </if>
           <if test="@Ognl@isNotEmpty(url)">
                AND url = #{url}
            </if>
           <if test="@Ognl@isNotEmpty(codeText)">
                AND code_text = #{codeText}
            </if>
           <if test="@Ognl@isNotEmpty(jarPath)">
                AND jar_path = #{jarPath}
            </if>
           <if test="@Ognl@isNotEmpty(requestType)">
                AND request_type = #{requestType}
            </if>
           <if test="@Ognl@isNotEmpty(protocolType)">
                AND protocol_type = #{protocolType}
            </if>
           <if test="@Ognl@isNotEmpty(params)">
                AND params = #{params}
            </if>
           <if test="@Ognl@isNotEmpty(dubboVersion)">
                AND dubbo_version = #{dubboVersion}
            </if>
           <if test="@Ognl@isNotEmpty(dubboGroup)">
                AND dubbo_group = #{dubboGroup}
            </if>
           <if test="@Ognl@isNotEmpty(dubboTimeout)">
                AND dubbo_timeout = #{dubboTimeout}
            </if>
        </where>
    </sql>
    
    <select id="get" resultMap="TestInterfaceMap">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM
                test_interface
            WHERE 
                id = #{id} 
        ]]>
    </select>
    
    <select id="list" resultMap="TestInterfaceMap">
        SELECT
            <include refid="columns" />
        FROM
            test_interface 
        <include refid="where"/>
    </select>
        
    <select id="count" resultType="long">
        <![CDATA[
            SELECT
                count(1)
            FROM
                test_interface
        ]]>
        <include refid="where"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO test_interface (
                id,
                name,
                description,
                service_id,
                type,
                url,
                code_text,
                jar_path,
                request_type,
                protocol_type,
                params,
                dubbo_version,
                dubbo_group,
                dubbo_timeout
            ) VALUES (
                #{id},
                #{name},
                #{description},
                #{serviceId},
                #{type},
                #{url},
                #{codeText},
                #{jarPath},
                #{requestType},
                #{protocolType},
                #{params},
                #{dubboVersion},
                #{dubboGroup},
                #{dubboTimeout}
            )
        ]]>
    </insert>

    <insert id="saveBatch">
        <![CDATA[
            INSERT INTO test_interface (
                id,
                name,
                description,
                service_id,
                type,
                url,
                code_text,
                jar_path,
                request_type,
                protocol_type,
                params,
                dubbo_version,
                dubbo_group,
                dubbo_timeout
            ) VALUES
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.name},#{item.description},#{item.serviceId},#{item.type},#{item.url},#{item.codeText},#{item.jarPath},#{item.requestType},#{item.protocolType},#{item.params},#{item.dubboVersion},#{item.dubboGroup},#{item.dubboTimeout})
        </foreach>
    </insert>
    
    <update id="update">
        	UPDATE
                test_interface
            <set>
                <if test="name != null">
                	<![CDATA[ name = #{name} ]]>,
                </if>
                <if test="description != null">
                	<![CDATA[ description = #{description} ]]>,
                </if>
                <if test="serviceId != null">
                	<![CDATA[ service_id = #{serviceId} ]]>,
                </if>
                <if test="type != null">
                	<![CDATA[ type = #{type} ]]>,
                </if>
                <if test="url != null">
                	<![CDATA[ url = #{url} ]]>,
                </if>
                <if test="codeText != null">
                	<![CDATA[ code_text = #{codeText} ]]>,
                </if>
                <if test="jarPath != null">
                	<![CDATA[ jar_path = #{jarPath} ]]>,
                </if>
                <if test="requestType != null">
                	<![CDATA[ request_type = #{requestType} ]]>,
                </if>
                <if test="protocolType != null">
                	<![CDATA[ protocol_type = #{protocolType} ]]>,
                </if>
                <if test="params != null">
                	<![CDATA[ params = #{params} ]]>,
                </if>
                <if test="dubboVersion != null">
                	<![CDATA[ dubbo_version = #{dubboVersion} ]]>,
                </if>
                <if test="dubboGroup != null">
                	<![CDATA[ dubbo_group = #{dubboGroup} ]]>,
                </if>
                <if test="dubboTimeout != null">
                	<![CDATA[ dubbo_timeout = #{dubboTimeout} ]]>
                </if>
            </set>
            WHERE
                id = #{id} 
    </update>
    
    <delete id="deleteByPK">
        <![CDATA[
            DELETE
            FROM
                test_interface
            WHERE
                id = #{id} 
        ]]>
    </delete>
    
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM
                test_interface
        ]]>
        <include refid="where"/>
    </delete>
    
    <delete id="deleteBatchByPK">
        <![CDATA[
            DELETE
            FROM
                test_interface
            WHERE
                id IN
        ]]>
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{ids}</foreach>
    </delete>
</mapper>

