<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.xn.interfacetest.dao.TestRedisConfigMapper">

    <resultMap id="TestRedisConfigMap" type="com.xn.interfacetest.entity.TestRedisConfig">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="timeout" column="timeout"/>
        <result property="tryTime" column="try_time"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="environmentId" column="environment_id"/>
    </resultMap>
    
    <sql id="columns">
        <![CDATA[
        id, name, timeout, try_time, ip_address, environment_id
        ]]>
    </sql>
    
    <sql id="where">
        <where>
           <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
           <if test="@Ognl@isNotEmpty(name)">
                AND name = #{name}
            </if>
           <if test="@Ognl@isNotEmpty(timeout)">
                AND timeout = #{timeout}
            </if>
           <if test="@Ognl@isNotEmpty(tryTime)">
                AND try_time = #{tryTime}
            </if>
           <if test="@Ognl@isNotEmpty(ipAddress)">
                AND ip_address = #{ipAddress}
            </if>
           <if test="@Ognl@isNotEmpty(environmentId)">
                AND environment_id = #{environmentId}
            </if>
        </where>
    </sql>
    
    <select id="get" resultMap="TestRedisConfigMap">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM
                test_redis_config
            WHERE 
                id = #{id} 
        ]]>
    </select>
    
    <select id="list" resultMap="TestRedisConfigMap">
        SELECT
            <include refid="columns" />
        FROM
            test_redis_config 
        <include refid="where"/>
    </select>
        
    <select id="count" resultType="long">
        <![CDATA[
            SELECT
                count(1)
            FROM
                test_redis_config
        ]]>
        <include refid="where"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO test_redis_config (
                id,
                name,
                timeout,
                try_time,
                ip_address,
                environment_id
            ) VALUES (
                #{id},
                #{name},
                #{timeout},
                #{tryTime},
                #{ipAddress},
                #{environmentId}
            )
        ]]>
    </insert>

    <insert id="saveBatch">
        <![CDATA[
            INSERT INTO test_redis_config (
                id,
                name,
                timeout,
                try_time,
                ip_address,
                environment_id
            ) VALUES
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.name},#{item.timeout},#{item.tryTime},#{item.ipAddress},#{item.environmentId})
        </foreach>
    </insert>
    
    <update id="update">
        	UPDATE
                test_redis_config
            <set>
                <if test="name != null">
                	<![CDATA[ name = #{name} ]]>,
                </if>
                <if test="timeout != null">
                	<![CDATA[ timeout = #{timeout} ]]>,
                </if>
                <if test="tryTime != null">
                	<![CDATA[ try_time = #{tryTime} ]]>,
                </if>
                <if test="ipAddress != null">
                	<![CDATA[ ip_address = #{ipAddress} ]]>,
                </if>
                <if test="environmentId != null">
                	<![CDATA[ environment_id = #{environmentId} ]]>
                </if>
            </set>
            WHERE
                id = #{id} 
    </update>
    
    <delete id="deleteByPK">
        <![CDATA[
            DELETE
            FROM
                test_redis_config
            WHERE
                id = #{id} 
        ]]>
    </delete>
    
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM
                test_redis_config
        ]]>
        <include refid="where"/>
    </delete>
    
    <delete id="deleteBatchByPK">
        <![CDATA[
            DELETE
            FROM
                test_redis_config
            WHERE
                id IN
        ]]>
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{ids}</foreach>
    </delete>
</mapper>

