<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xn.interfacetest.dao.RelationPlanResultMapper">

    <resultMap id="RelationPlanResultMap" type="com.xn.interfacetest.entity.RelationPlanResult">
        <result property="id" column="id"/>
        <result property="planId" column="plan_id"/>
        <result property="reportId" column="report_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>
    
    <sql id="columns">
        <![CDATA[
        id, plan_id, report_id, create_time
        ]]>
    </sql>
    
    <sql id="where">
        <where>
           <if test="id != null and id != 0">
                AND id = #{id}
            </if>
           <if test="@Ognl@isNotEmpty(planId)">
                AND plan_id = #{planId}
            </if>
           <if test="@Ognl@isNotEmpty(reportId)">
                AND report_id = #{reportId}
            </if>
           <if test="@Ognl@isNotEmpty(createTimeBegin)">
                AND create_time >= #{createTimeBegin}
           </if>
           <if test="@Ognl@isNotEmpty(createTimeEnd)">
                AND create_time &lt;= #{createTimeEnd}
           </if>
        </where>
    </sql>
    
    <select id="get" resultMap="RelationPlanResultMap">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM
                relation_plan_result
            WHERE 
                id = #{id} 
        ]]>
    </select>
    
    <select id="list" resultMap="RelationPlanResultMap">
        SELECT
            <include refid="columns" />
        FROM
            relation_plan_result 
        <include refid="where"/>
    </select>
        
    <select id="count" resultType="long">
        <![CDATA[
            SELECT
                count(1)
            FROM
                relation_plan_result
        ]]>
        <include refid="where"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO relation_plan_result (
                id,
                plan_id,
                report_id,
                create_time
            ) VALUES (
                #{id},
                #{planId},
                #{reportId},
                #{createTime}
            )
        ]]>
    </insert>

    <insert id="saveBatch">
        <![CDATA[
            INSERT INTO relation_plan_result (
                id,
                plan_id,
                report_id,
                create_time
            ) VALUES
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.planId},#{item.reportId},#{item.createTime})
        </foreach>
    </insert>
    
    <update id="update">
        	UPDATE
                relation_plan_result
            <set>
                <if test="planId != null">
                	<![CDATA[ plan_id = #{planId} ]]>,
                </if>
                <if test="reportId != null">
                	<![CDATA[ report_id = #{reportId} ]]>,
                </if>
                <if test="createTime != null">
                	<![CDATA[ create_time = #{createTime} ]]>
                </if>
            </set>
            WHERE
                id = #{id} 
    </update>
    
    <delete id="deleteByPK">
        <![CDATA[
            DELETE
            FROM
                relation_plan_result
            WHERE
                id = #{id} 
        ]]>
    </delete>
    
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM
                relation_plan_result
        ]]>
        <include refid="where"/>
    </delete>
    
    <delete id="deleteBatchByPK">
        <![CDATA[
            DELETE
            FROM
                relation_plan_result
            WHERE
                id IN
        ]]>
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{ids}</foreach>
    </delete>
</mapper>

