<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xn.interfacetest.dao.RelationCaseParamsMapper">

    <resultMap id="RelationCaseParamsMap" type="com.xn.interfacetest.entity.RelationCaseParams">
        <result property="id" column="id"/>
        <result property="paramsId" column="params_id"/>
        <result property="value" column="value"/>
        <result property="interfaceId" column="interface_id"/>
        <result property="caseId" column="case_id"/>
        <result property="type" column="type"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>
    
    <sql id="columns">
        <![CDATA[
        id, params_id, value, interface_id, case_id, type
        ]]>
    </sql>
    
    <sql id="where">
        <where>
           <if test="id != null and id != 0">
                AND id = #{id}
            </if>
           <if test="@Ognl@isNotEmpty(paramsId)">
                AND params_id = #{paramsId}
            </if>
           <if test="@Ognl@isNotEmpty(value)">
                AND value = #{value}
            </if>
           <if test="@Ognl@isNotEmpty(interfaceId)">
                AND interface_id = #{interfaceId}
            </if>
           <if test="@Ognl@isNotEmpty(caseId)">
                AND case_id = #{caseId}
            </if>
           <if test="@Ognl@isNotEmpty(type)">
                AND type = #{type}
            </if>
        </where>
    </sql>
    
    <select id="get" resultMap="RelationCaseParamsMap">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM
                relation_case_params
            WHERE 
                id = #{id} 
        ]]>
    </select>
    
    <select id="list" resultMap="RelationCaseParamsMap">
        SELECT
            <include refid="columns" />
        FROM
            relation_case_params
        <where>
            is_delete = 0
            <if test="id != null and id != 0">
                AND id = #{id}
            </if>
            <if test="@Ognl@isNotEmpty(paramsId)">
                AND params_id = #{paramsId}
            </if>
            <if test="@Ognl@isNotEmpty(value)">
                AND value = #{value}
            </if>
            <if test="@Ognl@isNotEmpty(interfaceId)">
                AND interface_id = #{interfaceId}
            </if>
            <if test="@Ognl@isNotEmpty(caseId)">
                AND case_id = #{caseId}
            </if>
            <if test="@Ognl@isNotEmpty(type)">
                AND type = #{type}
            </if>
        </where>
    </select>
        
    <select id="count" resultType="long">
        <![CDATA[
            SELECT
                count(1)
            FROM
                relation_case_params
        ]]>
        <include refid="where"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO relation_case_params (
                id,
                params_id,
                value,
                interface_id,
                case_id,
                type
            ) VALUES (
                #{id},
                #{paramsId},
                #{value},
                #{interfaceId},
                #{caseId},
                #{type}
            )
        ]]>
    </insert>

    <insert id="saveBatch">
        <![CDATA[
            INSERT INTO relation_case_params (
                id,
                params_id,
                value,
                interface_id,
                case_id,
                type
            ) VALUES
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.paramsId},#{item.value},#{item.interfaceId},#{item.caseId},#{item.type})
        </foreach>
    </insert>
    
    <update id="update">
        	UPDATE
                relation_case_params
            <set>
                <if test="paramsId != null">
                	<![CDATA[ params_id = #{paramsId} ]]>,
                </if>
                <if test="value != null">
                	<![CDATA[ value = #{value} ]]>,
                </if>
                <if test="interfaceId != null">
                	<![CDATA[ interface_id = #{interfaceId} ]]>,
                </if>
                <if test="caseId != null">
                	<![CDATA[ case_id = #{caseId} ]]>,
                </if>
                <if test="type != null">
                	<![CDATA[ type = #{type} ]]>
                </if>
            </set>
            WHERE
                id = #{id} 
    </update>
    
    <update id="deleteByPK">
        <![CDATA[
            UPDATE
                relation_case_params
            SET is_delete = 1
            WHERE
                id = #{id} 
        ]]>
    </update>
    
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM
                relation_case_params
        ]]>
        <include refid="where"/>
    </delete>
    
    <delete id="deleteBatchByPK">
        <![CDATA[
            DELETE
            FROM
                relation_case_params
            WHERE
                id IN
        ]]>
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{ids}</foreach>
    </delete>
</mapper>

