<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xn.interfacetest.dao.RelationAssertResultMapper">

    <resultMap id="RelationAssertResultMap" type="com.xn.interfacetest.entity.RelationAssertResult">
        <result property="id" column="id"/>
        <result property="reportId" column="report_id"/>
        <result property="paramsAssertId" column="params_assert_id"/>
        <result property="dbAssertId" column="db_assert_id"/>
        <result property="redisAssertId" column="redis_assert_id"/>
        <result property="result" column="result"/>
    </resultMap>
    
    <sql id="columns">
        <![CDATA[
        id, report_id, params_assert_id, db_assert_id, redis_assert_id, result
        ]]>
    </sql>
    
    <sql id="where">
        <where>
           <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
           <if test="@Ognl@isNotEmpty(reportId)">
                AND report_id = #{reportId}
            </if>
           <if test="@Ognl@isNotEmpty(paramsAssertId)">
                AND params_assert_id = #{paramsAssertId}
            </if>
           <if test="@Ognl@isNotEmpty(dbAssertId)">
                AND db_assert_id = #{dbAssertId}
            </if>
           <if test="@Ognl@isNotEmpty(redisAssertId)">
                AND redis_assert_id = #{redisAssertId}
            </if>
           <if test="@Ognl@isNotEmpty(result)">
                AND result = #{result}
            </if>
        </where>
    </sql>
    
    <select id="get" resultMap="RelationAssertResultMap">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM
                relation_assert_result
            WHERE 
                id = #{id} 
        ]]>
    </select>
    
    <select id="list" resultMap="RelationAssertResultMap">
        SELECT
            <include refid="columns" />
        FROM
            relation_assert_result 
        <include refid="where"/>
    </select>
        
    <select id="count" resultType="long">
        <![CDATA[
            SELECT
                count(1)
            FROM
                relation_assert_result
        ]]>
        <include refid="where"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO relation_assert_result (
                id,
                report_id,
                params_assert_id,
                db_assert_id,
                redis_assert_id,
                result
            ) VALUES (
                #{id},
                #{reportId},
                #{paramsAssertId},
                #{dbAssertId},
                #{redisAssertId},
                #{result}
            )
        ]]>
    </insert>

    <insert id="saveBatch">
        <![CDATA[
            INSERT INTO relation_assert_result (
                id,
                report_id,
                params_assert_id,
                db_assert_id,
                redis_assert_id,
                result
            ) VALUES
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.reportId},#{item.paramsAssertId},#{item.dbAssertId},#{item.redisAssertId},#{item.result})
        </foreach>
    </insert>
    
    <update id="update">
        	UPDATE
                relation_assert_result
            <set>
                <if test="reportId != null">
                	<![CDATA[ report_id = #{reportId} ]]>,
                </if>
                <if test="paramsAssertId != null">
                	<![CDATA[ params_assert_id = #{paramsAssertId} ]]>,
                </if>
                <if test="dbAssertId != null">
                	<![CDATA[ db_assert_id = #{dbAssertId} ]]>,
                </if>
                <if test="redisAssertId != null">
                	<![CDATA[ redis_assert_id = #{redisAssertId} ]]>,
                </if>
                <if test="result != null">
                	<![CDATA[ result = #{result} ]]>
                </if>
            </set>
            WHERE
                id = #{id} 
    </update>
    
    <delete id="deleteByPK">
        <![CDATA[
            DELETE
            FROM
                relation_assert_result
            WHERE
                id = #{id} 
        ]]>
    </delete>
    
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM
                relation_assert_result
        ]]>
        <include refid="where"/>
    </delete>
    
    <delete id="deleteBatchByPK">
        <![CDATA[
            DELETE
            FROM
                relation_assert_result
            WHERE
                id IN
        ]]>
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{ids}</foreach>
    </delete>
</mapper>

