<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xn.interfacetest.dao.TestCaseMapper">

    <resultMap id="TestCaseMap" type="com.xn.interfacetest.entity.TestCase">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="number" column="number"/>
        <result property="description" column="description"/>
        <result property="interfaceId" column="interface_id"/>
        <result property="type" column="type"/>
        <result property="createPerson" column="create_person"/>
        <result property="dataPrepare" column="data_prepare"/>
        <result property="dataClear" column="data_clear"/>
        <result property="paramsAssert" column="params_assert"/>
        <result property="databaseAssert" column="database_assert"/>
        <result property="redisAssert" column="redis_assert"/>
        <result property="customParams" column="custom_params"/>
        <result property="customParamsType" column="custom_params_type"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>

    <sql id="columns">
        <![CDATA[
        id, name, number, description, interface_id, type, create_person, data_prepare, data_clear, params_assert, database_assert, redis_assert, custom_params, custom_params_type
        ]]>
    </sql>

    <sql id="where">
        <where>
            <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
            <if test="@Ognl@isNotEmpty(name)">
                AND name = #{name}
            </if>
            <if test="@Ognl@isNotEmpty(number)">
                AND number = #{number}
            </if>
            <if test="@Ognl@isNotEmpty(description)">
                AND description = #{description}
            </if>
            <if test="@Ognl@isNotEmpty(interfaceId)">
                AND interface_id = #{interfaceId}
            </if>
            <if test="@Ognl@isNotEmpty(type)">
                AND type = #{type}
            </if>
            <if test="@Ognl@isNotEmpty(createPerson)">
                AND create_person = #{createPerson}
            </if>
            <if test="@Ognl@isNotEmpty(dataPrepare)">
                AND data_prepare = #{dataPrepare}
            </if>
            <if test="@Ognl@isNotEmpty(dataClear)">
                AND data_clear = #{dataClear}
            </if>
            <if test="@Ognl@isNotEmpty(paramsAssert)">
                AND params_assert = #{paramsAssert}
            </if>
            <if test="@Ognl@isNotEmpty(databaseAssert)">
                AND database_assert = #{databaseAssert}
            </if>
            <if test="@Ognl@isNotEmpty(redisAssert)">
                AND redis_assert = #{redisAssert}
            </if>
            <if test="@Ognl@isNotEmpty(customParams)">
                AND custom_params = #{customParams}
            </if>
            <if test="@Ognl@isNotEmpty(customParamsType)">
                AND custom_params_type = #{customParamsType}
            </if>

        </where>
    </sql>

    <select id="get" resultMap="TestCaseMap">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM
                test_case
            WHERE
                id = #{id}
        ]]>
    </select>

    <select id="list" resultMap="TestCaseMap">
        SELECT
        <include refid="columns" />
        FROM
        test_case
        <where>
            is_delete = 0
            <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
            <if test="@Ognl@isNotEmpty(name)">
                AND name = #{name}
            </if>
            <if test="@Ognl@isNotEmpty(number)">
                AND number = #{number}
            </if>
            <if test="@Ognl@isNotEmpty(description)">
                AND description = #{description}
            </if>
            <if test="@Ognl@isNotEmpty(interfaceId)">
                AND interface_id = #{interfaceId}
            </if>
            <if test="@Ognl@isNotEmpty(type)">
                AND type = #{type}
            </if>
            <if test="@Ognl@isNotEmpty(createPerson)">
                AND create_person = #{createPerson}
            </if>
            <if test="@Ognl@isNotEmpty(dataPrepare)">
                AND data_prepare = #{dataPrepare}
            </if>
            <if test="@Ognl@isNotEmpty(dataClear)">
                AND data_clear = #{dataClear}
            </if>
            <if test="@Ognl@isNotEmpty(paramsAssert)">
                AND params_assert = #{paramsAssert}
            </if>
            <if test="@Ognl@isNotEmpty(databaseAssert)">
                AND database_assert = #{databaseAssert}
            </if>
            <if test="@Ognl@isNotEmpty(redisAssert)">
                AND redis_assert = #{redisAssert}
            </if>
            <if test="@Ognl@isNotEmpty(customParams)">
                AND custom_params = #{customParams}
            </if>
            <if test="@Ognl@isNotEmpty(customParamsType)">
                AND custom_params_type = #{customParamsType}
            </if>
        </where>
    </select>


    <select id="listByParams" resultMap="TestCaseMap">
        SELECT
        tc.*
        FROM
        test_case tc
        left join test_interface ti on ti.id = tc.interface_id
        left join test_service ts on ts.id = ti.service_id
        left join test_system tsy on ts.system_id = tsy.id
        <where>
            tc.is_delete = 0
            <if test="@Ognl@isNotEmpty(name)">
                AND tc.name = #{name}
            </if>
            <if test="@Ognl@isNotEmpty(interfaceId)">
                AND tc.interface_id = #{interfaceId}
            </if>
            <if test="@Ognl@isNotEmpty(type)">
                AND tc.type = #{type}
            </if>
            <if test="@Ognl@isNotEmpty(createPerson)">
                AND tc.create_person = #{createPerson}
            </if>
            <if test="@Ognl@isNotEmpty(systemId)">
                AND tsy.id = #{systemId}
            </if>
        </where>
    </select>

    <select id="listBySuitId" resultMap="TestCaseMap">
        SELECT tc.*
        from test_case tc
        left join relation_suit_case rsc on tc.id = rsc.case_id
        where rsc.suit_id = #{suitId}
    </select>

    <select id="count" resultType="long">
        <![CDATA[
            SELECT
                count(1)
            FROM
                test_case
        ]]>
        <include refid="where"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO test_case (
                id,
                name,
                number,
                description,
                interface_id,
                type,
                create_person,
                data_prepare,
                data_clear,
                params_assert,
                database_assert,
                redis_assert,
                custom_params,
                custom_params_type

            ) VALUES (
                #{id},
                #{name},
                #{number},
                #{description},
                #{interfaceId},
                #{type},
                #{createPerson},
                #{dataPrepare},
                #{dataClear},
                #{paramsAssert},
                #{databaseAssert},
                #{redisAssert},
                #{customParams},
                #{customParamsType}
            )
        ]]>
    </insert>

    <insert id="saveBatch">
        <![CDATA[
            INSERT INTO test_case (
                id,
                name,
                number,
                description,
                interface_id,
                type,
                create_person,
                data_prepare,
                data_clear,
                params_assert,
                database_assert,
                redis_assert,
                custom_params,
                custom_params_type
            ) VALUES
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.name},#{item.number},#{item.description},#{item.interfaceId},#{item.type},#{item.createPerson},#{item.dataPrepare},#{item.dataClear},#{item.paramsAssert},#{item.databaseAssert},#{item.redisAssert},#{item.customParams},#{item.customParamsType})
        </foreach>
    </insert>

    <update id="update">
        UPDATE
        test_case
        <set>
            <![CDATA[ data_prepare = #{dataPrepare} ]]>,
            <![CDATA[ data_clear = #{dataClear} ]]>,
            <![CDATA[ params_assert = #{paramsAssert} ]]>,
            <![CDATA[ database_assert = #{databaseAssert} ]]>,
            <![CDATA[ redis_assert = #{redisAssert} ]]>,
            <if test="createPerson != null">
                <![CDATA[ create_person = #{createPerson} ]]>,
            </if>
            <if test="name != null">
                <![CDATA[ name = #{name} ]]>,
            </if>
            <if test="number != null">
                <![CDATA[ number = #{number} ]]>,
            </if>
            <if test="description != null">
                <![CDATA[ description = #{description} ]]>,
            </if>
            <if test="interfaceId != null">
                <![CDATA[ interface_id = #{interfaceId} ]]>,
            </if>
            <if test="type != null">
                <![CDATA[ type = #{type} ]]>,
            </if>
            <if test="customParams != null">
                <![CDATA[ custom_params = #{customParams} ]]>,
            </if>
            <if test="customParamsType != null">
                <![CDATA[ custom_params_type = #{customParamsType} ]]>
            </if>
        </set>
        WHERE
        id = #{id}
    </update>

    <update id="updatePart">
        UPDATE
        test_case
        <set>
            <if test="createPerson != null">
                <![CDATA[ create_person = #{createPerson} ]]>,
            </if>
            <if test="name != null">
                <![CDATA[ name = #{name} ]]>,
            </if>
            <if test="number != null">
                <![CDATA[ number = #{number} ]]>,
            </if>
            <if test="description != null">
                <![CDATA[ description = #{description} ]]>,
            </if>
            <if test="interfaceId != null">
                <![CDATA[ interface_id = #{interfaceId} ]]>,
            </if>
            <if test="type != null">
                <![CDATA[ type = #{type} ]]>,
            </if>
            <if test="customParams != null">
                <![CDATA[ custom_params = #{customParams} ]]>,
            </if>
            <if test="customParamsType != null">
                <![CDATA[ custom_params_type = #{customParamsType} ]]>
            </if>
        </set>
        WHERE
        id = #{id}
    </update>

    <update id="deleteByPK">
        <![CDATA[
            UPDATE
            test_case
            SET is_delete = 1
            WHERE
                id = #{id} 
        ]]>
    </update>

    <delete id="delete">
        <![CDATA[
            DELETE
            FROM
                test_case
        ]]>
        <include refid="where"/>
    </delete>

    <delete id="deleteBatchByPK">
        <![CDATA[
            DELETE
            FROM
                test_case
            WHERE
                id IN
        ]]>
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{ids}</foreach>
    </delete>
</mapper>

