<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xn.interfacetest.dao.TestSuitMapper">

    <resultMap id="TestSuitMap" type="com.xn.interfacetest.entity.TestSuit">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="createPerson" column="create_person"/>
        <result property="systemId" column="system_id"/>
        <result property="isDelete" column="is_delete"/>
    </resultMap>
    
    <sql id="columns">
        <![CDATA[
        id, name, description, create_person,system_id
        ]]>
    </sql>
    
    <sql id="where">
        <where>
           <if test="id != null and id != 0">
                AND id = #{id}
            </if>
           <if test="@Ognl@isNotEmpty(name)">
                AND name = #{name}
            </if>
           <if test="@Ognl@isNotEmpty(description)">
                AND description = #{description}
            </if>
           <if test="@Ognl@isNotEmpty(createPerson)">
                AND create_person = #{createPerson}
            </if>
            <if test="@Ognl@isNotEmpty(systemId)">
                AND system_id = #{systemId}
            </if>
        </where>
    </sql>
    
    <select id="get" resultMap="TestSuitMap">
        SELECT <include refid="columns" />
        <![CDATA[
            FROM
                test_suit
            WHERE 
                id = #{id} 
        ]]>
    </select>
    
    <select id="list" resultMap="TestSuitMap">
        SELECT
            <include refid="columns" />
        FROM
            test_suit
        <where>
            is_delete = 0
            <if test="id != null and id != 0">
                AND id = #{id}
            </if>
            <if test="@Ognl@isNotEmpty(name)">
                AND name = #{name}
            </if>
            <if test="@Ognl@isNotEmpty(description)">
                AND description = #{description}
            </if>
            <if test="@Ognl@isNotEmpty(createPerson)">
                AND create_person = #{createPerson}
            </if>
            <if test="@Ognl@isNotEmpty(systemId)">
                AND system_id = #{systemId}
            </if>
        </where>
    </select>

    <select id="getByPlanId" resultMap="TestSuitMap">
        select ts.*
        from test_suit ts
        left JOIN relation_plan_suit rps on ts.id = rps.suit_id
        where rps.plan_id = #{planId}
    </select>

    <select id="getSuitByCaseId" resultMap="TestSuitMap" parameterType="Long">
        select ts.*
        from test_suit ts
        where ts.id in (
            select suit_id
            from relation_suit_case
            where case_id = #{caseId}
            GROUP BY suit_id
        )
    </select>

    <select id="count" resultType="long">
        <![CDATA[
            SELECT
                count(1)
            FROM
                test_suit
        ]]>
        <include refid="where"/>
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            INSERT INTO test_suit (
                id,
                name,
                description,
                create_person,
                system_id
            ) VALUES (
                #{id},
                #{name},
                #{description},
                #{createPerson},
                #{systemId}
            )
        ]]>
    </insert>

    <insert id="saveBatch">
        <![CDATA[
            INSERT INTO test_suit (
                id,
                name,
                description,
                create_person,system_id
            ) VALUES
        ]]>
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.name},#{item.description},#{item.createPerson}),#{item.systemId})
        </foreach>
    </insert>
    
    <update id="update">
        	UPDATE
                test_suit
            <set>
                <if test="name != null">
                	<![CDATA[ name = #{name} ]]>,
                </if>
                <if test="description != null">
                	<![CDATA[ description = #{description} ]]>,
                </if>
                <if test="systemId != null">
                	<![CDATA[ system_id = #{systemId} ]]>,
                </if>
                <if test="createPerson != null">
                    <![CDATA[ create_person = #{createPerson} ]]>
                </if>
            </set>
            WHERE
                id = #{id} 
    </update>
    
    <update id="deleteByPK">
        <![CDATA[
          update
                test_suit
          set is_delete = 1
            WHERE
                id = #{id}
        ]]>
    </update>
    
    <delete id="delete">
        <![CDATA[
            DELETE
            FROM
                test_suit
        ]]>
        <include refid="where"/>
    </delete>
    
    <delete id="deleteBatchByPK">
        <![CDATA[
            DELETE
            FROM
                test_suit
            WHERE
                id IN
        ]]>
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{ids}</foreach>
    </delete>
</mapper>

